[submodule "nvim"]
	path = nvim
	url = ../nvim.git
[submodule "ohmyposh"]
	path = ohmyposh
	url = ../ohmyposh.git
[submodule "powershell"]
	path = powershell
	url = ../powershell.git
[submodule "starship"]
	path = starship
	url = ../starship.git
[submodule "git"]
	path = git
	url = ../git.git
[submodule "scripts"]
	path = scripts
	url = ../scripts.git
