[submodule "nvim"]
	path = nvim
	url = ../nvim.git
[submodule "ohmyposh"]
	path = ohmyposh
	url = ../ohmyposh.git
[submodule "powershell"]
	path = powershell
	url = ../powershell.git
[submodule "starship"]
	path = starship
	url = ../starship.git
[submodule "scripts"]
	path = scripts
	url = ../scripts.git
[submodule "alacritty"]
	path = alacritty
	url = ../alacritty.git
[submodule "FileZilla"]
	path = FileZilla
	url = ../FileZilla
[submodule "synergy"]
	path = synergy
	url = ../synergy
