[submodule "nvim"]
	path = nvim
	url = https://github.com/petrosAth/nvim.git
[submodule "ohmyposh"]
	path = ohmyposh
	url = https://github.com/petrosAth/ohmyposh.git
[submodule "powershell"]
	path = powershell
	url = https://github.com/petrosAth/powershell.git
[submodule "starship"]
	path = starship
	url = https://github.com/petrosAth/starship
[submodule "git"]
	path = git
	url = https://github.com/petrosAth/git
[submodule "scripts"]
	path = scripts
	url = git@github.com:petrosAth/scripts.git
